@import "./variables"

checkbox-size = 20px


@keyframes rotateIn
  from
    transform rotate(0deg)
  to
    transform rotate(45deg)

.checkbox-container
  margin-bottom unit-spacing

.checkbox-label
  position relative

  display flex
  align-items flex-end

  height checkbox-size

  padding-left checkbox-size + 6px

  font-size default-font-size

  user-select none

.checkbox-label input
  position absolute

  top 0
  left 0

  opacity 0

  cursor pointer

.checkmark
  position absolute

  top 0
  left 0

  width checkbox-size
  height checkbox-size

  box-sizing border-box

  border 2px solid primary-fg
  border-radius 4px

  background-color transparent

// When hovering tint the checkmark
.checkbox-container:hover input ~ .checkmark
  background-color #ccc

// Create the checkmark (hidden when not checked)
.checkmark:after
  content: ""

  position absolute

  display none

// Show the checkmark when checked
.checkbox-container input:checked ~ .checkmark:after
  display block

// Check mark/indicator
.checkbox-container .checkmark:after
  left 5px
  top 1px
  width (checkbox-size / 4)
  height (checkbox-size / 2)

  border solid primary-fg
  border-width 0 3px 3px 0

  animation rotateIn 0.1s linear forwards

  transition all 1s
